

.scroll,
.scroll::before,
.scroll::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll {
  font: normal 16px/1.5 'Titillium Web', Shuneet3-Bold-Regular;
  /* background: linear-gradient(54deg, #9164ff, #8bfff4); */
  color: #3c3f64;
  overflow-x: hidden;
  padding-bottom: 50px;
  position: relative;
  top: 4rem;
  color: #3b220e;
  direction: rtl;
}

.side-right {
  position: absolute;
  right: -44rem;
}

.side-left {
  position: absolute;
  right: 4rem;
}

h1 {
  margin: auto;
}

.icon1 {
  position: absolute;
  top:  -2rem;
}

.timeline {
  ul {
    li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: #3b220e;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) rotate(45deg);
        width: 20px;
        height: 20px;
        z-index: 2;
        background: #3b220e;
      }
      div {
        position: relative;
        bottom: 0;
        width: 590px;
        padding: 20px;
        /* background: white;
        box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2); */
        background: #ffcb63;
        /* box-shadow: 1px 1px 1px 4px white; */
        border-radius: 25px;
        display: flex;
        align-items: center;
        time {
          position: absolute;
          background: #f5af19;
          width: 80px;
          height: 30px;
          top: -15px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: 2px;
        }
        div {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            text-align: center;
          }
        }
        .discovery {
          margin-right: 10px;
        }
        /* .scientist {
        } */
      }
      &:nth-of-type(odd) {
        > div {
          left: 45px;
        }
      }
      &:nth-of-type(even) {
        > div {
          left: -439px;
        }
      }
    }
  }
}

.timeline {
  ul {
    li {
      div {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      &:nth-of-type(odd) {
        div {
          transform: translate3d(100px, -10px, 0) rotate(10deg);
        }
      }
      &:nth-of-type(even) {
        div {
          transform: translate3d(-100px, -10px, 0) rotate(10deg);
        }
      }
      &.in-view {
        div {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

/* @media screen and (max-width: 1440px) {
  .scroll {
    font: normal 10px/1.5 'Titillium Web', Shuneet3-Bold-Regular;
  } */
  /* .timeline {
    ul {
      li {
        div {
          width: 200px;
          flex-direction: column;
          div {
            width: 80%;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -289px;
          }
        }
      }
    }
  } */
/* } */

@media screen and (max-width: 1400px) {
  .scroll {
    font: normal 14px/1.5 'Titillium Web', Shuneet3-Bold-Regular;
  }

  .side-right {
    position: absolute;
    right: -30rem;
  }
  
  .side-left {
    position: absolute;
    right: 4rem;
  }

  .timeline {
    ul {
      li {
        div {
          width: 250px;
          flex-direction: column;
          div {
            width: 80%;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -289px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 669px) {
  /* body {
    background: #8bfff4;
  } */

  .scroll {
    font: normal 10px/1.5 'Titillium Web', Shuneet3-Bold-Regular;
  }

  .side-right {
    position: absolute;
    right: -19rem;
  }
  
  .side-left {
    position: absolute;
    right: 4rem;
  }

  .icon1 {
    width: 4rem;
  }

  .timeline {
    ul {
      li {
        div {
          width: 100px;
          flex-direction: column;
          div {
            width: 80%;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -289px;
          }
        }
      }
    }
  }
}

