
@font-face {
    font-family: RubikDoodleShadow-Regular;
    src: url("assets/fonts/RubikDoodleShadow-Regular.ttf");
}

@font-face {
    font-family: Shuneet3-Bold-Regular;
    src: url("assets/fonts/Shuneet3-Bold-Regular.ttf");
}

@font-face {
    font-family: Petel-Bold;
    src: url("assets/fonts/Petel-Bold.ttf");
}

html {
    font-size: calc(0.42vw + 0.42vh + 4px);
    
}

body {
    background-color: #fff5e1;  
    overflow: hidden;
    font-family: Shuneet3-Bold-Regular;
    color: #3b220e;
    direction: rtl;
    /* font-size: calc(4vw + 4vh + 4px); */
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

/* .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    margin: 0rem 2.4rem;
    visibility: hidden;
    cursor: pointer;
    bottom: 10rem;
    z-index: 4;
} */

#arrows {
    visibility: hidden;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 2.8rem;
    position: relative;
    /* visibility: hidden; */
    cursor: pointer;
    bottom: 4.8rem;
    z-index: 4;
}

.arrows-title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 2rem;
    bottom: 4rem;
    z-index: 4;
    color: #3b220e;
    font-size: 1.5rem;
}

footer {
    visibility: hidden;
}

.navbar {
    width: 34rem;
    height: 0.4rem;
    background-color: #3b220e;
    position: absolute;
    right: 42rem;
    bottom: 2rem;
    border-radius: 20rem;
    /* visibility: hidden; */
}

.circle {
    width: 1.34rem;
    height: 1.34rem;
    background-color: #3b220e;
    position: absolute;
    z-index: 2;
    border-radius: 20rem;
}

.circle-border {
    width: 1.49rem;
    height: 1.49rem;
    border: 2px dashed #3b220e;
    position: absolute;    
    border-radius: 20rem;
}

.titles {
    position: absolute;
    font-family: RubikDoodleShadow-Regular;
    color: #3b220e;
    font-size: 100rem;
    font-weight: 900;
}

#circle1 {
    right: 0rem;
    bottom: -0.48rem;
}

#circle2 {
    right: 12rem;
    bottom: -0.48rem;
}

#circle3 {
    right: 24rem;
    bottom: -0.48rem;
}

#circle4 {
    right: 32.9rem;
    bottom: -0.48rem;
}

#frame4 {
    right: 32.691rem;
    bottom: -0.68rem;
}

#frame1 {
    right: -0.209rem;
    bottom: -0.68rem;
}

#frame2 {
    right: 11.791rem;
    bottom: -0.68rem;
}

#frame3 {
    right: 23.791rem;
    bottom: -0.68rem;
}

#t1 {
    right: -0.209rem;
    bottom: 1.8rem;
}

#t2 {
    right: 10.8rem;
    bottom: 1.8rem;
}

#t3 {
    right: 23.2rem;
    bottom: 1.8rem;
}

#t4 {
    width: 8rem;
    right: 30rem;
    bottom: 1.8rem;
}

/* start-page */
.page0 {
    background-image: url("assets/media/startPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.start-page-graphic {
    position: absolute;
    right: -5rem;
    top: -5rem;
}

.title {
    font-size: 12rem;
    text-align: center;
    position: relative;
    top: 14rem;
    left: 50%;
    transform: translate(-50%);
    font-family: Petel-Bold;
    color: #471e0d;
}

.start-button {
    color: #471e0d;
    background-color: bisque;
    border: 5px solid #552f1e;
    width: 17rem;
    height: 5rem;
    font-size: 2rem;
    font-family: Shuneet3-Bold-Regular;
    border-radius: 10rem;
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translate(-50%);
}

.start-button:hover {
    background-color: #471e0d;
    border: 5px solid bisque;
    color: bisque;
    cursor: pointer;
}

.icon {
    position: absolute;
    bottom: 2.5rem;
    left: 5rem;
    width: 26rem;
}

/* background-page */
/* page1 */
.page1 {
    background-image: url("assets/media/backgroundPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
}

.headline1 {
    font-family: RubikDoodleShadow-Regular;
    position: relative;
    top: 2rem;
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
}

.background-graphic {
    position: absolute;
    top: 10rem;
    /* right: 20rem; */
    left: 50%;
    transform: translate(-50%);
    width: calc(50vw + 20vh + 80px);
    /* width: 80rem; */
}

.content-page1, .content-page2 {
    font-size: 2rem;
}

.content-page1 {
    left: 50%;
    transform: translate(-50%);
}
      
#title1 {
    position: absolute;
    top: 8rem;
    right: -22rem;
    width: 30rem;
    text-align: center;
}

#title2 {
    position: absolute;
    top: 14rem;
    right: -10rem;
}

#title3 {
    position: absolute;
    top: 32rem;
    right: -20rem;
}

#title4 {
    position: absolute;
    top: 38rem;
    right: 2rem;
    width: 26rem;
    text-align: center;
}

/* page2 */
.page2 {
    background-image: url("assets/media/backgroundPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
}

#title5 {
    position: absolute;
    right: 20rem;
    top: 14rem;
    width: 70rem;
    line-height: 1.5;
}

#title6 {
    position: absolute;
    top: 26rem;
    right: 20rem;
    width: 30rem;
    line-height: 1.5;
    text-align: center;
}

.world-graphic {
    position: absolute;
    top: 25rem;
    right: 60rem;
    width: calc(20vw + 20vh + 80px);
}

/* page3 */
.page3 {
    background-image: url("assets/media/historyPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
}

.icon-page3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    position: relative;
    right: 20rem;
    top: 7rem;
}

.content-page3 {
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    position: absolute;
    right: 34rem;
    top: 12.8rem;
    font-size: 2rem;
}

.content3 {
    margin-bottom: 8rem;
}

.boldLetters {
    font-weight: 900;
    font-size: 2.7rem;
    color: #3b220e;
}

/* page4 */
.page4 {
    background-image: url("assets/media/startPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
}

#title9, #title10, #title11 {
    position: relative;
    top: 5.4rem;
    font-size: 1.4rem;
    margin-right: 4rem;
    margin-left: 4rem;
    text-align: right;
    line-height: 2rem;
}

.sheep {
    width: 9rem;
    position: relative;
    top: 8rem;
    right: -2rem;
}

.grass {
    width: 8rem;
    position: relative;
    top: 10rem;
    right: -2rem;
}

/* page5 */
.page5 {
    background-image: url("assets/media/startPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
    font-size: 2rem;
    position: fixed;
}

/* page6 */
.page6 {
    display: none;
    font-size: 2rem;
    /* position: fixed; */
}

/* page7 */
.page7 {
    display: none;
    font-size: 2rem;
    position: fixed;
}

/* page8 */
.page8 {
    display: none;
    font-size: 2rem;
    position: fixed;
}

#title12 {
    position: relative;
    text-align: center;
    top: 9rem;
}

#title14 {
    position: relative;
    text-align: center;
    top: 34rem;
}

.square1, .square2 {
    font-family: Petel-Bold;
    background-color: #3b220e;
    width: 15rem;
    height: 5rem;
    position: absolute;
    top: 20rem;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-position: 3.5rem 1rem;
    text-align: center;
    padding-top: 12rem;
    cursor: pointer;
}

.square1 {
    border: 5px solid #d9a866;
    color: #d9a866;
    right: 42rem;
    background-image: url("assets/media/coffeKinds/arabica/arabica.png");
}

.square2 {
    border: 5px solid #9d5c2d;
    color: #9d5c2d;
    right: 64rem;
    background-image: url("assets/media/coffeKinds/robosta/robosta.png");
}

.coffee-background {
    background-color: #e0c7a6;
    background-image: url("assets/media/coffeKinds/chocolate1.png");
    background-repeat: no-repeat;
    background-position: -3.5rem -0rem;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    position: fixed;
}

.coffee-kinds {
    display: none;
}

.coffee-title {
    font-family: Petel-Bold;
    position: absolute;
    top: 8rem;
    right: 14rem;
    font-size: 5rem;
}

#back {
    position: absolute;
    /* width: 5rem; */
    margin-top: 50rem;
    right: 3rem;
    cursor: pointer;
}

.content-arabica1, .content-arabica2, .content-arabica3, .content-robosta1, .content-robosta2{
    line-height: 1.5;
    font-size: 2rem;
}

.content-arabica1 {
    position: absolute;
    right: 14rem;
    margin-top: 17rem;
}

.content-arabica2 {
    position: absolute;
    top: 28rem;
    right: 34rem;
}

.content-arabica3 {
    position: absolute;
    top: 40rem;
    right: 22rem;
}

.content-robosta1 {
    position: absolute;
    margin-top: 17rem;
    right: 14rem;
}

.content-robosta2 {
    position: absolute;
    top: 32rem;
    right: 32rem;
}

.icon-arabica1 {
    position: absolute;
    margin-top: 17rem;
    right: 72rem;
}

.icon-arabica2 {
    position: absolute;
    top: 26rem;
    right: 20rem;
}

.icon-arabica3 {
    position: absolute;
    top: 40rem;
    right: 72rem;
}

.icon-robosta1 {
    position: absolute;
    margin-top: 15.4rem;
    right: 85.4rem;
}

.icon-robosta2 {
    position: absolute;
    top: 32rem;
    right: 20rem;
}

/* page9 */
.page9 {
    background-image: url("assets/media/coffeKinds/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
}

.coffee-icons {
    position: relative;
    top: -14rem;
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem;
}

.icons-title {
    position: relative;
    top: -12rem;
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem;
    font-family: Petel-Bold;
    font-size: 2rem;
}

.tables {
    position: relative;
    display: flex;
    flex-direction: row;
}

.arabica-col, .robosta-col {
    position: relative;
    display: flex;
    flex-direction: column;   
    top: 8rem;
}

.arabica-col {
    right: 22rem;
    margin-left: -36rem;
}

.robosta-col { 
    right: 62rem;
}

.col1, .col2 {
    width: 34rem;
    border-radius: 8rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
    color: #fff5e1;
}

.col1 {
    background-color: #d9a866;
}

.col2 {
    background-color: #9d5c2d;
}

/* page10 */
.page10 {
    display: none;
    position: fixed;
}

/* page11 */
.page11 {
    display: none;
    position: fixed;
}

.content-page11 {
    position: absolute;
    top: 22rem;
    right: 72rem;
    width: 44rem;
    line-height: 1.5;
    font-size: 2rem;
}

span {
    color: #ee5079;
}

/* page12 */
.page12 {
    display: none;
    position: fixed;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    /* background-color: red; */
    color: white;
    text-align: center;
    z-index: 4;
}

@media screen and (max-width: 1227px) {
    #title1, #title2, #title3, #title4 {
        font-size: 1.6rem;
        left: 2rem;
    }

    #title1 {
        right: -20rem;
    }

    #title3 {
        top: 28rem;
    }

    #title4 {
        right: -2rem;
        top: 34rem;
    }
    
}

@media screen and (max-width: 832px) {
    .title {
        font-size: 9rem;
        top: 24rem;
    }

    .start-button {
        top: 38rem;
    }

    .icon {
        width: 20rem;
        bottom: 10rem;
    }

    .page1 {
        background-image: none;
    }

    #title1, #title2, #title3, #title4 {
        font-size: 1.4rem;
        left: 2rem;
    }

    #title1 {
        right: -15.4rem;
    }

    #title2 {
        top: 12.8rem;
    }

    #title3 {
        top: 26rem;
    }

    #title4 {
        right: -8rem;
        top: 30rem;
    }
}

@media screen and (max-width: 572px) {
    .start-page-graphic {
        visibility: hidden;
    }

    .background-graphic {
        width: 38rem;
    }

    #title1, #title2, #title3, #title4 {
        font-size: 1.2rem;
        width: 20rem;
        text-align: center;
        right: -10rem;
    }

    #title1, #title2 {
        margin-top: 20rem;
    }

    #title3, #title4 {
        margin-top: 14rem;
    }

    #title5, #title6 {
        font-size: 1.4rem;
        text-align: center;
        width: 30rem;
        right: 6rem;
        
    }

    .world-graphic {
        right: 6rem;
        top: 40rem;
    }

    #icon-page3 img {
        width: 8rem;
        margin-bottom: 4rem;
    }

    .icon-page3 {
        right: 4rem;
        
    }

    .content-page3 {
        font-size: 1.4rem;
        right: 14rem;
        width: 20rem;
    }

    .square1, .square2 {
        width: 15rem;
        height: 2rem;
        top: 20rem;
        padding-top: 10rem;
        padding-bottom: 2rem;
    }

    .square1 {
        right: 4rem;
        background-position: 2rem 0rem 0rem 0rem ;
        background-size: 6rem;
    }

    .square2 {
        right: 24rem;
        background-position: 2rem 0rem 0rem 0rem ;
        background-size: 6rem;
    }

    .coffee-background {
        background-position: -20.5rem 0rem;
        background-size: 38rem;
    }

    .coffee-title {
        right: 6rem;
    }

    .content-arabica1, .content-arabica2, .content-arabica3, .content-robosta1, .content-robosta2{
        font-size: 1.8rem;
    }

    .icon-arabica1, .icon-arabica2, .icon-arabica3, .icon-robosta1, .icon-robosta2 {
        width: 6rem;
    }

    .icon-arabica1 {
        right: 4rem;
    }

    .icon-arabica2 {
        right: 36rem;
        margin-top: 8rem;
    }

    .icon-arabica3 {
        right: 6rem;
        margin-top: 8rem;
    }

    .icon-robosta1 {
        right: 4rem;
        width: 8rem;
        margin-top: 17.8rem;
    }

    .icon-robosta2 {
        right: 34rem;
        margin-top: 12rem;
    }

    .content-arabica1 {
        right: 12rem;
        width: 30rem;  
    }

    .content-arabica2 {
        right: 6rem;
        width: 32.4rem;
        margin-top: 4rem; 
    }

    .content-arabica3 {
        right: 14rem;
        width: 26rem;
        margin-top: 8rem;
    }

    .content-robosta1 {
        right: 14rem;
        width: 26rem;
    }

    .content-robosta2 {
        right: 6rem;
        width: 30rem;
        margin-top: 8rem;
    }

    #back {
        width: 6rem;
        top: 20rem;
    }

    .coffee-icons img:first-of-type {
        width: 6rem;
        height: 8rem;
        position: absolute;
        top: -14rem;
        right: 4rem;
        transform: translate(-50%);
    }

    .coffee-icons img:last-of-type {
        width: 6rem;
        height: 8rem;
        position: absolute;
        top: -14rem;
        right: 20rem;
    }

    .icons-title div:first-of-type {
        position: absolute;
        top: -6rem;
        right: 4rem;
    }

    .icons-title div:last-of-type {
        position: absolute;
        top: -6rem;
        right: 20rem;
    }

    .arabica-col {
        right: 4rem;
        top: 14.8rem;
    }
    
    .col1, .col2 {
        width: 17rem;
        border-radius: 2.9rem;
        margin-top: 1rem;
        margin-right: -20rem;
        font-size: 1.4rem;
    }

    .col1 {
        position: relative;
        top: 4rem;
        right: 17.8rem;
        
    }

    .col2 {
        position: relative; 
        top: 10.9rem;
        right: 17rem;
    }

    .content-page11 {
        top: 12rem;
        right: 14.9rem;
        font-size: 1.4rem;
        width: 26rem;
    }

    .arrow {
        width: 6rem;
    }
}