
@font-face {
    font-family: RubikDoodleShadow-Regular;
    src: url("assets/fonts/RubikDoodleShadow-Regular.ttf");
}

@font-face {
    font-family: Shuneet3-Bold-Regular;
    src: url("assets/fonts/Shuneet3-Bold-Regular.ttf");
}

@font-face {
    font-family: Petel-Bold;
    src: url("assets/fonts/Petel-Bold.ttf");
}

body {
    background-color: #fff5e1;  
    overflow: hidden;
    font-family: Shuneet3-Bold-Regular;
    color: #3b220e;
    direction: rtl;
    font-size: calc(1vh + 1vw + 4px);
    z-index: 1;
}

/* .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    margin: 0rem 2.4rem;
    visibility: hidden;
    cursor: pointer;
    bottom: 10rem;
    z-index: 4;
} */

#arrows {
    visibility: hidden;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    margin: 0rem 2.8rem;
    position: relative;
    /* visibility: hidden; */
    cursor: pointer;
    bottom: 4.8rem;
    z-index: 4;
}

.arrows-title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 2rem;
    bottom: 4rem;
    z-index: 4;
    color: #3b220e;
    font-size: 1.5rem;
}

/* .arrow {
    width: 5rem;
    position: relative;
    bottom: -2rem;
} */

/* start-page */
.page0 {
    background-image: url("assets/media/startPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* display: none; */
}

.start-page-graphic {
    position: absolute;
    right: -5rem;
    top: -5rem;
}

.title {
    font-size: 12rem;
    text-align: center;
    position: relative;
    top: 14rem;
    font-family: Petel-Bold;
    color: #471e0d;
}

.start-button {
    color: #471e0d;
    background-color: bisque;
    border: 5px solid #552f1e;
    width: 17rem;
    height: 5rem;
    font-size: 2rem;
    font-family: Shuneet3-Bold-Regular;
    border-radius: 10rem;
    position: absolute;
    right: 50rem;
    top: 30rem;
}

.start-button:hover {
    background-color: #471e0d;
    border: 5px solid bisque;
    color: bisque;
    cursor: pointer;
}

.icon {
    position: absolute;
    bottom: 2.5rem;
    left: 5rem;
}

/* background-page */
.page1 {
    background-image: url("assets/media/backgroundPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
}

.headline1 {
    font-family: RubikDoodleShadow-Regular;
    position: relative;
    top: 2rem;
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
}

.background-graphic {
    position: absolute;
    top: 10rem;
    right: 20rem;
}

.content-page1 .content-page2 {
    font-size: 1.8rem;
}
      
#title1 {
    position: absolute;
    top: 14rem;
    right: 34rem;
    width: 30rem;
    text-align: center;
}

#title2 {
    position: absolute;
    top: 20rem;
    right: 46rem;
}

#title3 {
    position: absolute;
    top: 36rem;
    right: 36rem;
}

#title4 {
    position: absolute;
    top: 42rem;
    right: 59rem;
    width: 26rem;
    text-align: center;
}

.page2 {
    background-image: url("assets/media/backgroundPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
}

#title5 {
    position: absolute;
    right: 20rem;
    top: 14rem;
    width: 70rem;
    line-height: 1.5;
}

/* #title6 {
    position: absolute;
    right: 20rem;
    top: 17rem;
} */

#title6 {
    position: absolute;
    top: 26rem;
    right: 20rem;
    width: 30rem;
    line-height: 1.5;
    text-align: center;
}

.world-graphic {
    position: absolute;
    top: 25rem;
    right: 64rem;
}

.page3 {
    background-image: url("assets/media/historyPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
}

.icon-page3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    position: relative;
    right: 20rem;
    top: 7rem;
    /* padding-bottom: 2rem; */
}

.content-page3 {
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    position: absolute;
    right: 34rem;
    top: 12.8rem;
}

.content3 {
    margin-bottom: 8rem;
}

.boldLetters {
    font-weight: 900;
    font-size: 2.7rem;
    color: #3b220e;
}

.page4 {
    background-image: url("assets/media/startPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
    /* z-index: -1 */
}

#title9, #title10, #title11 {
    position: relative;
    top: 5.4rem;
    font-size: 1.4rem;
    margin-right: 4rem;
    margin-left: 4rem;
    text-align: right;
}

.sheep {
    width: 9rem;
    position: relative;
    top: -10rem;
    right: -4rem;
}

.page5 {
    background-image: url("assets/media/startPage/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: none;
}

.page6 {
    display: none;
}


.page7 {
    /* overflow: hidden; */
    display: none;
}

.page8 {
    display: none;
}

#title12 {
    position: relative;
    text-align: center;
    top: 9rem;
}

#title14 {
    position: relative;
    text-align: center;
    top: 34rem;
}

.square1, .square2 {
    font-family: Petel-Bold;
    background-color: #3b220e;
    width: 15rem;
    height: 5rem;
    position: absolute;
    top: 20rem;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-position: 3.5rem 1rem;
    text-align: center;
    /* vertical-align: sub; */
    padding-top: 12rem;
    cursor: pointer;
}

.square1 {
    border: 5px solid #d9a866;
    color: #d9a866;
    right: 40rem;
    background-image: url(assets/media/coffeKinds/arabica/arabica.png);
   
}

.square2 {
    border: 5px solid #9d5c2d;
    color: #9d5c2d;
    right: 62rem;
    background-image: url(assets/media/coffeKinds/robosta/robosta.png);
}

.coffee-background {
    background-color: #e0c7a6;
    background-image: url(assets/media/coffeKinds/chocolate1.png);
    /* background-image: url(assets/media/coffeKinds/chocolate2.png);
    background-size: cover; */
    background-repeat: no-repeat;
    background-position: -3.5rem -0rem;
    width: 100vw;
    height: 100vh;
}

.coffee-kinds {
    display: none;
}

.coffee-title {
    font-family: Petel-Bold;
    position: absolute;
    top: 8rem;
    right: 14rem;
    font-size: 5rem;
}

#back {
    position: absolute;
    /* width: 5rem; */
    margin-top: 50.4rem;
    right: 3rem;
    cursor: pointer;
}

.content-arabica1, .content-arabica2, .content-arabica3, .content-robosta1, .content-robosta2{
    line-height: 1.5;
}

.content-arabica1 {
    position: absolute;
    /* top: 20rem; */
    right: 14rem;
    margin-top: 17rem;
}

.content-arabica2 {
    position: absolute;
    top: 28rem;
    right: 34rem;
}

.content-arabica3 {
    position: absolute;
    top: 40rem;
    right: 22rem;
}

.content-robosta1 {
    position: absolute;
    margin-top: 17rem;
    right: 14rem;
}

.content-robosta2 {
    position: absolute;
    top: 32rem;
    right: 32rem;
}

.icon-arabica1 {
    position: absolute;
    margin-top: 17rem;
    right: 72rem;
}

.icon-arabica2 {
    position: absolute;
    top: 26rem;
    right: 20rem;
}

.icon-arabica3 {
    position: absolute;
    top: 40rem;
    right: 72rem;
}

.icon-robosta1 {
    position: absolute;
    margin-top: 15.4rem;
    right: 85.4rem;
}

.icon-robosta2 {
    position: absolute;
    top: 32rem;
    right: 20rem;
}

.page9 {
    /* background-color: #e0c7a6; */
    background-image: url(assets/media/coffeKinds/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: -3.5rem -0rem; */
    width: 100vw;
    height: 100vh;
    display: none;
}

.coffee-icons {
    position: relative;
    top: -14rem;
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem;
    /* z-index: 4; */
}

.icons-title {
    position: relative;
    top: -12rem;
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem;
    font-family: Petel-Bold;
}

.tables {
    /* width: 100rem; */
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */

}

.arabica-col, .robosta-col {
    position: relative;
    /* top: 2rem; */
    display: flex;
    flex-direction: column;   
    /* margin-top: 2rem; */
    top: 8rem;
    /* width: 34rem;
    height: 4rem; */
    /* margin-top: 2rem; */
    /* width: 40rem; */
}

.arabica-col {
    right: 22rem;
    margin-left: -36rem;
}

.robosta-col { 
    right: 62rem;
}

.col1, .col2 {
    width: 34rem;
    /* height: 4rem; */
    border-radius: 8rem;
    /* padding: 2rem; */
    margin-top: 2rem;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
    color: #fff5e1;
}

.col1 {
    background-color: #d9a866;
    
}

.col2 {
    background-color: #9d5c2d;
}

.page10 {
    display: none;
}

.page11 {
    display: none;
}

.content-page11 {
    position: absolute;
    top: 22rem;
    right: 72rem;
    width: 44rem;
    line-height: 1.5;
}

span {
    color: #ee5079;
}

.page12 {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    /* background-color: red; */
    color: white;
    text-align: center;
    z-index: 4;
}